/*CSS for Chart page */

.mealplan-chart {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.chart-legend li span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}