/* CSS for  mealplan page */

table {
    font-family: 'Open Sans', sans-serif;
    /*border-collapse: collapse;*/
    width: 100%;
    /*margin: 0 auto;*/
    margin-left: auto;
    margin-right: auto;
}

th {
    text-align: center;
    font-weight: bold;
}

td {
    text-align: center;
}

h1 {
    color: #FC4A1A;
}

.recipe-dropdown {
    display: none;
}

.shopping-list-info {
    text-align: right;
}

.meal-week-picker, .shopping-list-info {
    display: inline-block;
}