{% extends 'base.html' %}


{% block title %} Meal Analytics {% endblock %}

{% block style %} 
<link rel="stylesheet" type="text/css" href="/static/css/chart.css">
{% endblock %}

{% block js %} 
<script src=
  "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">
</script>
{% endblock %}

{% block content %}

<div class="container">

<h1>Analysis of your Meal Plan</h1>

<!-- <input type="button" id="show-all-meals-info" value="All Meals">
<input type="button" id="show-breakfast-info" value="Breakfast">
<input type="button" id="show-lunch-info" value="Lunch">
<input type="button" id="show-dinner-info" value="Dinner">
<input type="button" id="show-snacks-info" value="Snacks"> -->
<br>
<div class="row">
    <p class="week-info">Most Popular Meals Last 7 Days</p>
    <div class="col-xs-3">
        <div id="donutLegend" class="chart-legend"></div>
    </div>
    <div class="col-xs-9">
        <div class="mealplan-chart"><canvas id="donutChart">
        </canvas></div>
    </div>
</div>

<div class="row">
    <p class="month-info">Most Popular Meals Last 30 Days</p>
    <div class="col-xs-3">
        <div id="donutMonthLegend" class="chart-legend"></div>
    </div>
    <div class="col-xs-9">
        <div class="mealplan-chart"><canvas id="donutMonthChart">
        </canvas></div>
    </div>
</div>

</div>

<script>

    var options = { 
        responsive: true, 
        legend: {
            display: false,
            position: 'right',
        }, 
    };

    var ctx_donut = $("#donutChart").get(0).getContext("2d");

    $.get("/meal-week-data.json", function (data) {
        var myDonutChart = new Chart(ctx_donut, {
                                                type: 'doughnut',
                                                data: data,
                                                options: options
                                              });
        $('#donutLegend').html(myDonutChart.generateLegend());
    });


    var ctx_month_donut = $("#donutMonthChart").get(0).getContext("2d");

    $.get("/meal-month-data.json", function (data) {
        var myDonutChart = new Chart(ctx_month_donut, {
                                            type: 'doughnut',
                                            data: data,
                                            options: options
                                            });
        $('#donutMonthLegend').html(myDonutChart.generateLegend());
        });

    // function showMonthInfo(evt) {
    //     evt.preventDefault();

    //     $.get("/meal-month-data.json", function (data) {
    //     var myDonutChart = new Chart(ctx_month_donut, {
    //                                             type: 'doughnut',
    //                                             data: data,
    //                                             options: options
    //                                           });
    //     $('#donutLegend').html(myDonutChart.generateLegend());
    //     });
    // }

</script>

{% endblock %}