{% extends 'base.html' %}


{% block title %} My Recipe List {% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/recipe.css">
{% endblock %}

{% block content %}

<div class="container">

<div class="row col-xs-12">
<h1>Recipe Box</h1><h4>Add, Edit, or Delete your recipes here.</h4>
</div>

<div class="row">
    <div class="col-xs-6" id="meal-filter">
        <div>
            <button type="button" id="recipes-btn-all"
                class="btn btn-default btn-xs">All</button>
            <button type="button" id="recipes-btn-br"
                class="btn btn-default btn-xs">Breakfast</button>
            <button type="button" id="recipes-btn-lu"
                class="btn btn-default btn-xs">Lunch</button>
            <button type="button" id="recipes-btn-din"
                class="btn btn-default btn-xs">Dinner</button>
            <button type="button" id="recipes-btn-snck"
                class="btn btn-default btn-xs">Snacks</button>
        </div>
        <div class="panel panel-default">
            <table class="table table-responsive">
                <tbody id="recipe-list">
                </tbody>
            </table>
        </div>
        <br>
        <form action="/add-recipe" id="add-recipe-form">
            <input type="submit" value="Add Recipe" class="btn btn-default">
        </form>
    </div>
    <div class="col-xs-6" id="recipe-info">
        <strong><p class="show-recipe-info" id="recipe-name"></p></strong>
        <p class="show-recipe-info" id="recipe-ingredients">Ingredients: </p>
        <form action="/edit-recipe" class="show-recipe-info"
            method="get" id="edit-recipe-form">
            <input type="hidden" id="recipe-id" name="recipe-id">
            <input type="submit" value="Edit Recipe" class="btn btn-default">
        </form>
    </div>
</div>

</div>

<script>

    $("#recipes-btn-br").on("click", function() { showRecipes("br"); });
    $("#recipes-btn-lu").on("click", function() { showRecipes("lun"); });
    $("#recipes-btn-din").on("click", function() { showRecipes("din"); });
    $("#recipes-btn-snck").on("click", function() { showRecipes("snck"); });

    $("#recipes-btn-all").on("click", showAll);

    $(document).ready(showAll);

    function showAll() {
        $("#recipe-list").html("");
        $(".show-recipe-info").hide();

        var htmlText = "{% for recipe in recipes %}" +
                "<tr><td class='col-xs-8'><a href='/recipes/{{ recipe.recipe_id }}' " +
                "onclick='showRecipeInfo(event, {{ recipe.recipe_id}} );'>" +
                    "{{ recipe.recipe_name|capitalize() }} </a></td></tr>" +
            "{% endfor %}";

        $("#recipe-list").append(htmlText);
    }

    function showRecipes(meal_type) {
        // debugger
        $(".show-recipe-info").hide();
        $("#recipe-list").html("");

        $.get('/show-filter-recipes.json', 
                {'meal_type':meal_type}, 
                printRecipes);
    }

    function printRecipes(data) {
        if (data.length == 0) {
            $("#recipe-list").append("<p>There are no recipes for this meal.</p>");
        }
        else {
            for (var i = 0; i<data.length; i++) {

                var htmlText = "<tr><td class='col-xs-8'>" + 
                            "<a href='#' id='recipe-info-link' " +
                            "onclick='showRecipeInfo(event, " + data[i].id +
                            ");' >" + capitalize(data[i].name) + "</a></td></tr>";
                
                $("#recipe-list").append(htmlText);
            }
        }
    }

    function showRecipeInfo(evt, recipeID) {
        evt.preventDefault(); 
        $(".show-recipe-info").show();
        $.get('/recipe-info.json', {'recipe_id': recipeID}, function(data) {
            $("#recipe-id").attr("value", recipeID);
            $("#recipe-name").html(capitalize(data["recipe_name"]));

            var ingredients = data["ingredients"];
            console.log(data);
            console.log(ingredients);

            var ingredientsRows = "";

            for (var i = 0; i < data["num_ingredients"]; i++) {
                var ing = ingredients["ing-"+i];
                console.log(ing);
                // console.log(data["ingredients"]["ing-"+i]["info"]);

                var ingName = ing[0];
                var ingAmount = ing[1];
                var ingUnit = ing[2];

                ingredientsRows = ingredientsRows + "<tr><td>" + ingAmount + "</td>" +
                    "<td>" + ingUnit + "</td>" +
                    "<td>" + ingName + "</td></tr>";
            }

            var ingredientsTableInfo = "Ingredients:<br><table class='table'><thead>" +
            "<th>Amount</th><th>Unit</th><th>Ingredient</th></thead>" +
            "<tbody>" + ingredientsRows + "</tbody></table>";

            $("#recipe-ingredients").html(ingredientsTableInfo);
        });

    }

    function capitalize(s) {
        return s[0].toUpperCase() + s.slice(1);
    }

  
</script>

{% endblock %}