{% extends 'base.html' %}


{% block title %} Shopping list {% endblock %}

{% block style %} 
<link rel="stylesheet" type="text/css" href="/static/css/shopping.css">
{% endblock %}


{% block content %}

<div class="container">
<div class="row col-xs-6">

<h1>Shopping List for Week: {{ week_start_date.strftime('%-m/%d') }}</h1>

<input type="button" id="email-list-btn" name="email-btn" value="Email Me List"
class="btn btn-default">
<input type="hidden" id="email" name="email" value="{{ email }}">
<br>
{% for category in shopping_list.keys() %}

<h4> {{ category }} </h4>
<table class="table">
    <tbody>
    {% for ingredient in shopping_list[category].values() %}
        <tr class="ingredient-list-item">
            <td class="col-xs-2">{% if "url" in ingredient %} 
                <img src="{{ ingredient['url'] }}" border="1" height="50" width="50"
                    class="img-rounded">
                {% else %} <i class="glyphicon glyphicon-picture img-rounded" 
                    height="50" width="50"><i>
                {% endif %}
            </td>
            <td class="col-xs-1">{{ ingredient["amount"] }}</td>
            <td class="col-xs-2">{{ ingredient["unit"] }}</td>
            <td class="col-xs-3">{{ ingredient["name"] }}</td> 
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endfor %}




</div>
</div>


<script>
    $("#email-list-btn").on("click", emailList)

    function emailList(evt) {
        var email = $("input#email").val();
        evt.preventDefault();
        var text;
        for (var i = 0; i < $(".ingredient-list-item").length; i++) {
            text = text + "<li>" + 
                        $(".ingredient-list-item")[i].innerText +
                        "</li>";
        }
        window.open('mailto:' + email + '?subject=Shopping+List&body='+text);
    }
</script>


{% endblock %}