{% extends 'base.html' %}


{% block title %} My Account {% endblock %}

{% block style %} 
<link rel="stylesheet" type="text/css" href="/static/css/user.css">
{% endblock %}


{% block content %}

<div class="container">
<div class="row col-xs-12">

<div class="jumbotron text-center">
  <h1>ForThis!</h1>
  <p>Build a forking meal plan and shopping list.</p> 
</div>

<div class="row">
    <div class="col-xs-4">
        <h2>Meal Planner</h2>
        <a href="/mealplan">
            <img src="/static/img/calendar.jpeg" alt="calendar" class="img-rounded" width="300" height="200"></a>
        <br><br>
        <p>Plan your meals by the week.</p>
    </div>

    <div class="col-xs-4">
        <h2>Recipes</h2>
        <a href="/recipes">
            <img src="/static/img/meals.jpeg" alt="meals" class="img-rounded" width="300" height="200"></a>
        <br><br>
        <p>Manage your recipes for meal planning.</p>
    </div>

    <div class="col-xs-4">
        <h2>Shopping</h2>
        <a href="/shoppinglist">
            <img src="/static/img/grocery.jpeg" alt="grocery" class="img-rounded" width="300" height="200"></a>
        <br><br>
        <p>Create a shopping list based on your meal plan.</p>
    </div>
</div>

</div>
</div>

{% endblock %}