{% extends 'base.html' %}


{% block title %} My Account {% endblock %}

{% block style %} 
<link rel="stylesheet" type="text/css" href="/static/css/user.css">
{% endblock %}


{% block content %}

<div class="container">
<div class="row col-xs-12">

<div class="jumbotron text-center">
  <h1>Eat.Plan.Love.</h1>
  <p>Save time and energy by planning your meals!</p> 
</div>

<div class="row">
    <div class="col-xs-4">
        <h2>Plan Your Meals</h2>
        <a href="/mealplan">
            <img src="/static/img/calendar.jpeg" alt="calendar" class="img-rounded" width="300" height="200"></a>
        <br><br>
        <p>Plan your weekly meals and get organized. Start for the week without worrying about what you are eating.</p>
    </div>

    <div class="col-xs-4">
        <h2>Organize Recipes</h2>
        <a href="/recipes">
            <img src="/static/img/meals.jpeg" alt="meals" class="img-rounded" width="300" height="200"></a>
        <br><br>
        <p>Add, edit, or delete recipes from your recipe box. This is the place where you can manage all your recipes for your meal planning.</p>
    </div>

    <div class="col-xs-4">
        <h2>Shop For The Week</h2>
        <a href="/shoppinglist">
            <img src="/static/img/grocery.jpeg" alt="grocery" class="img-rounded" width="300" height="200"></a>
        <br><br>
        <p>No need to think at the grocery store! Have all your grocery items listed from you meal plan that you create.</p>
    </div>
</div>

</div>
</div>

{% endblock %}